body{
    margin: 0;
    background: rgb(20,20,22);
    background: linear-gradient(90deg, rgba(20,20,22,1) 10%, rgba(9,9,9,1) 100%);
    height: 100vh;
    color: #dedee0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    margin: 0;
    padding: 10px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 750px;
    width: 50%;
    height: 100%;
}

.fieldset{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
    height: 95%;
}

.field{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

#select{
    display: flex;
    flex-direction: row;
    color: #dedee0;
}

#idtipo_cliente{
    background-color: transparent;
    color: #dedee0;
    border: none;
    padding-left: 10px;
}

img{
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;  
}


.div-img{
    display: flex;
    justify-content: center;
    height: 94%;
    width: 50%;
}

.input{
    font-size: 14px;
    height: 30px;
    display: block;
    border: none;
    background-color: #212121 !important;
    color: #dedee0 !important;
    appearance: none;
    background-image: none !important;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 5px;
}

.input:autofill{
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: inset 0px 0px 0px 32px #212121 !important;
    -webkit-text-fill-color: #dedee0;
    border: 5px solid #212121;
}

.field-button{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-button{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.input-button .input{
    width: 90%;
}

.field-button .button{
    display: flex;
}

button{
    cursor: pointer;
    background: linear-gradient(160deg, #939393 20%, transparent 100%) rgba(254,254,254,1);
    color: #090909;
    align-self: end;
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    transition: background-color 1s;
} 

button:hover, button:focus{
    transition: 1s;
    background-color: #939393;
    filter: brightness(1.3);  
}


#submitbutton{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}