.bg-blue{
    background-color: #86EED2;
}

.body-box{
    width: 100vw;
    height: 100vh;
}

.btn-gradient{
    background: linear-gradient(169deg, #169c79 41%, transparent 100%)  #20c999;
    transition: background-color 0.7s;
}

.btn-gradient:hover{
    transition: 0.7s;
    background-color: #169c79;
    filter: brightness(1.2);
}

.input{
    border: 1px solid #E0E0E0; 
}

.btn-outline-custom{
    border: 1px solid #169c79;
}

.btn-outline-custom:hover{
    transition: 1.5s;
    border: 1px solid #20c999;
    background: linear-gradient(169deg, #169c79 0%, transparent 100%)  #20c999;
    color: #fff;
}
