body{
    margin: 0;
    background-color: #090909;
    height: 100vh;
    color: #dedee0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    margin: 0;
    padding: 10px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 750px;
    width: 50%;
    height: 100%;
}

.fieldset{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
    height: 95%;
}

.field{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

#select{
    display: flex;
    flex-direction: row;
    color: #dedee0;
}

#idtipo_cliente{
    background-color: transparent;
    color: #dedee0;
    border: none;
    padding-left: 10px;
}

img{
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;  
}


.div-img{
    display: flex;
    justify-content: center;
    height: 94%;
    width: 50%;
}

.input{
    font-size: 16px;
    height: 30px;
    display: block;
    border: none;
    background-color: #212121;
    color: #dedee0;
    border-radius: 5px;
    margin-top: 5px;
}

.field-button{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-button{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.input-button .input{
    width: 95%;
}

.field-button .button{
    display: flex;
}

button{
    cursor: pointer;
    background: linear-gradient(160deg, #939393 20%, transparent 100%) rgba(254,254,254,1);
    color: #090909;
    align-self: end;
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    transition: background-color 1s;
} 

button:hover, button:focus{
    transition: 1s;
   background-color: #939393;
   filter: brightness(1.3);  
}


#submitbutton{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}